@import "tailwindcss";

@theme {
  --color-primary: #141414;
  --color-secondary: #737373;
  --color-light: #e5e8eb;
  --color-background: #fafafa;
  --color-black: #000000;
  --color-grayish: #dbdbdb;
}
