@import "tailwindcss";

@theme {
  --color-primary: #141414;
  --color-secondary: #737373;
  --color-light: #E5E8EB;
  --color-background: #FAFAFA;
  --color-black: #000000;
  --color-grayish: #DBDBDB;
}